[Unit]
Description=Carputer CAN Bridge (veh)
After=network.target
PartOf=drive-stack.target

[Service]
ExecStart=/bin/cfr/can-bridge-veh can0 -j -q --tmp-dir /application/logs/can/tmp --log-dir /application/logs/can --log-mins 5 --log-size 250000000
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=30
Restart=always
RestartSec=5s
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
