[Unit]
Description=Carputer CAN Bridge (body)
After=network.target

[Service]
ExecStart=/bin/cfr/can-bridge-body can1 --forward-iface vcanBody -j -q --tmp-dir /tmp/can-bridge/body --log-dir /application/logs/can/body --log-mins 5 --log-size 250000000
Restart=always
RestartSec=5s
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
