[Unit]
Description=Carputer CAN Bridge (veh)
After=network.target

[Service]
ExecStart=/bin/cfr/can-bridge-veh can0 --forward-iface vcanVeh -j -q --tmp-dir /tmp/can-bridge/veh --log-dir /application/logs/can/veh --log-mins 5 --log-size 250000000
Restart=always
RestartSec=5s
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
