[Unit]
Description=Carputer Live Dashboard
After=network.target ota-agent-drive-stack.service ota-agent.service
Wants=ota-agent.service
PartOf=drive-stack.target

[Service]
ExecStart=/bin/cfr/dashboard
Restart=always
RestartSec=3s
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
WantedBy=drive-stack.target
