[Unit]
Description=Carputer Live Dashboard
After=network.target ota-agent-drive-stack.service ota-agent.service
Wants=ota-agent.service
PartOf=drive-stack.target

[Service]
ExecStartPre=-/usr/sbin/nft delete table inet cfr_dashboard_redirect
ExecStartPre=/usr/sbin/nft add table inet cfr_dashboard_redirect
ExecStartPre=/bin/sh -c '/usr/sbin/nft "add chain inet cfr_dashboard_redirect prerouting { type nat hook prerouting priority dstnat; policy accept; }"'
ExecStartPre=/bin/sh -c '/usr/sbin/nft "add chain inet cfr_dashboard_redirect output { type nat hook output priority dstnat; policy accept; }"'
ExecStartPre=/usr/sbin/nft add rule inet cfr_dashboard_redirect prerouting tcp dport 80 redirect to :8091
ExecStartPre=/bin/sh -c '/usr/sbin/nft add rule inet cfr_dashboard_redirect output oifname "lo" tcp dport 80 redirect to :8091'
ExecStart=/bin/cfr/dashboard --database-viewer-token zhaf4VJ5oj42481tTbVM4QKfQLJ87aNnAJUIBeZKi0VRGS1nMcj7OhF7-FLPxF2txYCqCMB_IywQHSfT-8tnAQ== --notes-influx-url http://localhost:8086 --notes-influx-token 3fy247LOoo332BmnHgvd6o0LJ9fwsLHyuweJHbOlgQKh9vbDQ6xm2TPC7InPPin0Cs_O2t8n_BeJT9qalQFqQA== --notes-influx-org CFR --notes-influx-bucket CarNotes
ExecStopPost=-/usr/sbin/nft delete table inet cfr_dashboard_redirect
StateDirectory=car-dashboard
Restart=always
RestartSec=3s
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
WantedBy=drive-stack.target
