[Unit]
Description=Log processor
After=ota-agent-drive-stack.service
PartOf=drive-stack.target

[Service]
ExecStart=/bin/cfr/log-processor /application/logs/can/* --url http://localhost:8086 --token 3fy247LOoo332BmnHgvd6o0LJ9fwsLHyuweJHbOlgQKh9vbDQ6xm2TPC7InPPin0Cs_O2t8n_BeJT9qalQFqQA== --org CFR --bucket CarTelemetry --batch-size 5000 --batch-bytes 4194304 --file-concurrency 3 --delete
Restart=always
RestartSec=600s
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
