name: 'Build All Firmware'

on:
  pull_request:
    branches: [ master, comp* ]

jobs:
  generate-dbc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Buck2
        uses: dtolnay/install-buck2@latest
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
      - name: Build Stack
        run: buck2 build //network:dbc --out dbc/
      - name: Archive Artifacts
        id: archive
        uses: actions/upload-artifact@v4
        with:
          name: dbc
          path: dbc/
  generate-manifest-uds:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Buck2
        uses: dtolnay/install-buck2@latest
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
      - name: Build Stack
        run: buck2 build //network:manifest-uds --out manifest-uds.yaml
      - name: Archive Artifacts
        id: archive
        uses: actions/upload-artifact@v4
        with:
          name: manifest-uds.yaml
          path: manifest-uds.yaml
  cfr-firmware:
    strategy:
      fail-fast: false
      matrix:
        runner: [ ubuntu-24.04, ubuntu-24.04-arm,
                  macos-26, macos-15 ]
                  # TODO: Bringup support
                  # windows-2022, windows-11-arm, ]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Buck2
        uses: dtolnay/install-buck2@latest
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
      - name: Build Stack
        run: buck2 build :cfr25-embedded -j32 --out builds/
      - name: Archive Artifacts
        if: ${{ matrix.runner == 'ubuntu-24.04' }}
        id: archive
        uses: actions/upload-artifact@v4
        with:
          name: embedded
          path: builds/
  cfr-drive-stack:
    strategy:
      fail-fast: false
      matrix:
        runner: [ ubuntu-24.04, ubuntu-24.04-arm,]
                  # TODO: Bringup support
                  # macos-15, macos-14
                  # windows-2022, windows-11-arm, ]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Buck2
        uses: dtolnay/install-buck2@latest
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
      - name: Add ARM64 Toolchain
        run: rustup target add aarch64-unknown-linux-gnu
      - name: Build Stack
        run: buck2 build //drive-stack:cfr26-stack -j32 --out builds/
      - name: Archive Artifacts
        if: ${{ matrix.runner == 'ubuntu-24.04' }}
        id: archive
        uses: actions/upload-artifact@v4
        with:
          name: drive-stack-arm64
          path: builds/
  drive-tools:
    strategy:
      fail-fast: false
      matrix:
        runner: [ ubuntu-24.04, ubuntu-24.04-arm,]
                  # TODO: Bringup support
                  # macos-15, macos-14
                  # windows-2022, windows-11-arm, ]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Buck2
        uses: dtolnay/install-buck2@latest
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
      - name: Build Tools
        run: buck2 build //drive-stack/conUDS -j32 --out builds/conUDS &&
             buck2 build //drive-stack/net-detec -j32 --out builds/net-detec &&
             buck2 build //drive-stack/ota-agent -j32 --out builds/ota-agent
      - name: Build Manifests
        run: buck2 build //network:manifest-uds -j32 --out builds/manifest-uds.yaml
      - name: Archive Artifacts
        id: archive
        uses: actions/upload-artifact@v4
        with:
          name: drive-tools-${{ matrix.runner }}
          path: builds/
